* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box { 
    height: 10rem;
    width: 10rem;
}

.box1 {
    background-color: teal;
}

.box2 { 
    background-color: thistle;
}

.box3 { 
    background-color: tomato;
}

.box4 { 
    background-color: turquoise;
}

.box5 { 
    background-color: violet;
}

.box6 { 
    background-color: yellowgreen;
}

.container { 
    border: 3px solid black; 
    display: flex;
}
/* order will allow us to switch certain elements with others without modifying the html */